{% extends 'base.html' %}#
{% load static %}

{% block title %}

{% endblock %}


{% block content %}
    <article>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border rounded-top">

            <h4><span class="font-italic font-weight-light my-auto mr-auto">{% block body_title %}{% endblock %}</span></h4>
            {% block navbar_content %}
            
            {% endblock %}
        </nav>
        <div class="container rounded-bottom border-right border-bottom border-left"
             style="height: 500px; width: 100%; overflow-y: scroll">
            {% block results_container %}

            {% endblock %}
        </div>
    </article>

    <style>
        {% block content_style %}

        {% endblock %}
    </style>
{% endblock %}

{% block javascript %}

{% endblock %}