{% extends 'base.html' %}#
{% load static %}


{% block title %}User Profile{% endblock %}

{% block content %}
    <h1 >User Profile</h1>

    <div class="container-fluid justify-content-start">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="card" id="user_card" style="width: 250px">
                    <div class="card-header">
                        {% if object.user.username %}
                             <span style="font-weight: bold">{{ object.user.username }}</span>
                        {% else %}
                            <span style="font-weight: bold">User info</span>
                        {% endif %}
                        {% if object.user.is_superuser %}
                            <br>
                            <span style="color: #daa520"><i class="fas fa-crown"></i> Admin</span>
                        {% elif object.user.is_moderator %}
                            <br>
                            <span style="color: goldenrod"><i class="fas fa-star"></i> Mod</span>
                        {% endif %}
                    </div>
                    <div class="card-body" style="width: 250px; height: 250px">
                        <img class="card-img-top rounded-circle img-fluid mh-100" src="{{object.displayable_propic}}"
                             alt="profile picture">
                    </div>
                    <div class="card-footer">
                        <p><span style="font-weight: bold">
                            Full Name:</span><br>
                            {{ object.first_name }} {{ object.last_name}}
                        </p>

                        {% if user.id == object.user.id or user.is_superuser %}
                            <a href="{% url 'user_profile:user-profile-edit' object.id %}" class="btn btn-warning">
                                <i class="fas fa-user-edit mr-1"></i>Edit Profile
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-12">

            </div>
            <div class="col-md-3 col-12">

            </div>
        </div>
    </div>
    <style>
         @media(min-width: 768px){
     #user_card{margin-top: 0.5cm}
     }
    </style>
{% endblock %}
