{% extends 'base.html' %}#
{% load static %}


{% block title %}User Profile{% endblock %}

{% block content %}
    <h1 >User Profile</h1>

    <div class="container-fluid justify-content-start">
        <div class="row">
            <div class="col-md-3 col-12">
                <div class="card" id="user_card" style="width: 250px">
                    <div class="card-header">
                        {% if object.user.username %}
                             <span style="font-weight: bold">{{ object.user.username }}</span>
                        {% else %}
                            <span style="font-weight: bold">User info</span>
                        {% endif %}
                        {% if object.user.is_superuser %}
                            <br>
                            <span style="color: #daa520"><i class="fas fa-crown"></i> Admin</span>
                        {% elif object.user.is_moderator %}
                            <br>
                            <span style="color: goldenrod"><i class="fas fa-star"></i> Mod</span>
                        {% endif %}
                    </div>
                    <div class="card-body" style="width: 250px; height: 250px">
                        <img class="card-img-top rounded-circle img-fluid mh-100" src="{{object.displayable_propic}}"
                             alt="profile picture" style="height: 250px; width: 250px">
                    </div>
                    <div class="card-footer">
                        <p><span style="font-weight: bold">
                            Full Name:</span><br>
                            {{ object.first_name }} {{ object.last_name}}
                        </p>
                        {% if user.is_authenticated %}
                            {% if user.id != object.user.id %}
                                <div class="row justify-content-center mb-2">
                                    {% if object in user.profile.followed_list %}
                                        <button id="unfollow_btn" onclick="unfollow()" class="btn btn-outline-danger">
                                            Unfollow
                                        </button>
                                        <button id="follow_btn" onclick="follow()" class="btn btn-outline-primary" style="display: none">
                                            Follow
                                        </button>
                                    {% else %}
                                        <button id="unfollow_btn" onclick="unfollow()" class="btn btn-outline-danger" style="display: none">
                                            Unfollow
                                        </button>
                                        <button id="follow_btn" onclick="follow()" class="btn btn-outline-primary">
                                            Follow
                                        </button>
                                    {% endif %}
                                    <a href="{% url 'user_profile:chat' object.id %}" class="btn btn-outline-primary ml-2">
                                        <i class="far fa-comment"></i>
                                    </a>
                                </div>
                            {% endif %}
                            {% if user.id == object.user.id or user.is_superuser or user.is_moderator and not object.user.is_superuser %}
                                <div class="row justify-content-center">
                                    <a href="{% url 'user_profile:user-profile-edit' object.id %}" class="btn btn-warning">
                                        <i class="fas fa-user-edit mr-1"></i>Edit Profile
                                    </a>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
{#      REVIEWS SECTION      #}

            <div class="col-md-9 col-12">
                <ul id="content_tabs" class="nav nav-tabs">
                    <li class="nav-item">
                        <a href="#reviews_pane" class="nav-link active" data-toggle="tab">Reviews</a>
                    </li>
                    <li class="nav-item">
                        <a href="#recommendations_pane" class="nav-link" data-toggle="tab">Recommendations</a>
                    </li>
                </ul>
                <div class="tab-content border-bottom border-left border-right rounded-bottom">
                    <div id="reviews_pane" role="tabpanel" class="tab-pane active">
                        <div class="container rounded border-right border-bottom border-left" style="height: 10cm; overflow-y: scroll">
                            {% if not object.reviews %}
                                <p class="mt-2"><span style="color: gray">No reviews to show</span></p>
                            {% endif %}
                            {% for review in object.reviews %}
{#           REVIEW CARD             #}
                                {% include 'book_functionalities/book_review/card.html' with review=review %}
{#           REVIEW CARD END           #}
                            {% endfor %}
                        </div>
                        {% if user.id == object.user.id %}
                            <a href="{% url 'book_functionalities:book-review-create' %}" class="btn btn-primary float-right mt-2">
                                Create
                            </a>
                        {% endif %}
                    </div>
                    <div id="recommendations_pane" role="tabpanel" class="tab-pane">
                        <div class="container rounded border-right border-bottom border-left" style="height: 10cm; overflow-y: scroll">
{#           RECOMMENDATION CARD             #}
                            {% if not object.recommendations %}
                                <p class="mt-2"><span style="color: gray">No recommendations to show</span></p>
                            {% endif %}
                            {% for recommendation in object.recommendations %}
                                {% include 'book_functionalities/book_recommendation/card.html' with recommendation=recommendation %}
                            {% endfor %}
{#           RECOMMENDATION CARD END             #}
                        </div>
                        {% if user.is_authenticated and user.id == object.user.id %}
                            <a href="{% url 'book_functionalities:book-recommendation-create' %}" class="btn btn-primary float-right mt-2">
                                Create
                            </a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{#    REPORT(TOAST)     #}
    {% include 'book_functionalities/report_toasts.html' %}

    <style>
         @media(min-width: 768px){
            #user_card {
                margin-top: 0.5cm
            }

         }
         @media(max-width: 768px) {
             #content_tabs {
                 margin-top: 1cm
             }
         }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        function follow() {
            $.ajax({
                type: 'GET',
                url: '{% url 'user_profile:ajax-follow' %}',
                data: {
                    'follower': "{{ user.profile.id }}" ,
                    'followed': "{{ object.id }}"
                },

                dataType: "json",
                success: function (data) {
                    if (data.is_success) {
                        document.getElementById('unfollow_btn').style.display = 'block';
                        document.getElementById('follow_btn').style.display = 'none';
                    }
                }
            })
        }
        function unfollow() {
            $.ajax({
                type: 'GET',
                url: '{% url 'user_profile:ajax-unfollow' %}',
                data: {
                    'follower': "{{ user.profile.id }}" ,
                    'followed': "{{ object.id }}"
                },

                dataType: "json",
                success: function (data) {
                    if (data.is_success) {
                        document.getElementById('unfollow_btn').style.display = 'none';
                        document.getElementById('follow_btn').style.display = 'block';
                    }
                }
            })
        }


        function report(review_id) {
            $.ajax({
                type: 'GET',
                url: '{% url 'book_functionalities:ajax-report' %}',
                data: {
                    'review': review_id,
                },

                dataType: "json",
                success: function (data) {


                    if (data.is_success) {
                        $('#report_success').toast('show')
                    }
                    else {
                        if(data.already_reported) {
                            $('#already_reported').toast('show')
                        }
                        else {
                            $('#report_failed').toast('show')
                        }
                    }

                }
            })
        }
    </script>
{% endblock %}
