{% extends 'base.html' %}#
{% load static %}

{% block title %}
    Chat
{% endblock %}


{% block content %}
        <article>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border rounded-top">
            <a class="navbar-brand my-n3" href="{% url 'user_profile:user-profile-detail' receiver.id %}">
                <img class="image-fluid rounded-circle" src="{{ receiver.displayable_propic }}" alt="propic" style="height: 40px; width: 40px">
            </a>
            <h4><span class="font-italic font-weight-light my-auto mr-auto">{{ receiver.user.username }}</span></h4>
        </nav>
        <div id="chatcontent" class="container rounded-bottom border-right border-bottom border-left"
             style="height: 10cm; width: 100%; overflow-y: scroll">

        </div>
        <nav class="navbar navbar-expand-lg navbar-light bg-light border rounded-bottom">
            <form class="form-inline my-2 my-lg-0 ml-auto" method="post">
                {% csrf_token %}
                <input id="message_bar" class="mr-2" type="text" name="message">
                <button class="btn btn-outline-primary my-2 my-sm-0 float-right" type="submit">Send</button>
            </form>
        </nav>
    </article>

    <button class="btn btn-secondary mt-2"
       onclick="history.go(-1);">
        Back
    </button>

    <style>
        @media(min-width: 768px) {
             #message_bar{
                 width: 20cm;
             }
         }
    </style>
{% endblock %}

{% block javascript %}
    <script>
        function updateMsg(len){
            let new_len;
            $.getJSON(
                '{% url 'user_profile:get-messages' %}',
                {'receiver': '{{ receiver.id }}' },
                function (rows) {
                    $('#chatcontent').empty();
                        let i;
                        new_len = rows.length;
                        for (i = 0; i < rows.length; i++){
                            let arow = rows[i];
                            if (arow[3]) {
                                $('#chatcontent').append("<div class='container rounded border w-75 float-right my-1' " +
                                    "style='background-color: #e9f1f5; overflow-wrap: break-word'>" +
                                    "<span class='font-weight-bold'>" + 'me' + "</span><br>" + arow[1] +"<br>" +
                                    "<span class='font-italic' style='font-size: small'>" + arow[2] + "</span></div>");
                            } else {
                                $('#chatcontent').append("<div class='container rounded border w-75 float-left my-1'" +
                                    "style='overflow-wrap: break-word;'><span class='font-weight-bold'> " +
                                    arow[0] + "</span><br>" + arow[1] + "<br><span class='font-italic' style='font-size: small'>"
                                    + arow[2] + "</span></div>");
                            }
                        }
                        if(new_len > len){
                            scrollBottom();
                        }
                        setTimeout('updateMsg()', 2000);
                });
        }

        function scrollBottom(){
            $('#chatcontent').scrollTop($('#chatcontent')[0].scrollHeight)
            $(this).off()
        }

        $(document).ready(function () {
                $.ajaxSetup({ cache: false });
                updateMsg(0);
        });
    </script>
{% endblock %}



