{% extends 'book_functionalities/book/detail.html' %}#
{% load static %}

{% block title %}
    Delete Book
{% endblock %}

{% block page_h1 %}
    <span style="color: red">Are you sure?</span>
{% endblock %}

{% block card_footer_buttons %}
    <div class="mt-5">
        <form method="post">{% csrf_token %}
            <input class="btn btn-danger mr-2 mb-3" type="submit" value="Delete">
            <a class="btn btn-secondary mb-3"
               href="{% url 'book_functionalities:book-detail' object.id %}">
                Cancel
            </a>
        </form>
    </div>
{% endblock %}

