{% extends 'base.html' %}#
{% load static %}

{% block title %}Delete Review{% endblock %}

{% block content %}
    <h1><span style="color: red">Are you sure?</span></h1>
    <p>
        Are you sure you want to delete your reccomendation: <span class="font-italic font-weight-bold" style="color: red">
            <span class="font-weight-bold">If you liked:</span> '{{ object.base_book.title }}'
        <span class="font-weight-bold">... You may like:</span> '{{ object.recommended_book.title }}'
        </span>?
    </p>

    <form method="post">{% csrf_token %}
        <input class="btn btn-danger mr-2 mt-2" type="submit" value="Delete">
        <a class="btn btn-secondary mt-2"
           href="{% url 'user_profile:user-profile-detail' object.user_profile.id %}">
            Cancel
        </a>
    </form>

{% endblock %}