{% extends 'base.html' %}#
{% load static %}


{% block content %}
    <h1 >{% block page_h1 %}{% endblock %}</h1>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-9 col-12 order-md-0 order-1">
                {% block page_body %}

                {% endblock %}
            </div>

            <div class="col-md-3 col-12 order-md-1 order-0">
            <div class="card" style="width: 250px">
                    <div class="card-header">
                        {% block card_header %}

                        {% endblock %}
                    </div>
                    <div class="card-body" style="width: 250px; height: 250px">
                        {% block card_body %}

                        {% endblock %}
                    </div>
                    <div class="card-footer">
                        {% block card_footer %}

                        {% endblock %}
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
{% endblock %}
